@{
    ViewBag.Title = "Home Page";
}

<div class="Main-Header">
    <h1 class="page-header">My Wordrobe</h1>
    <p class="lead">Welcome to the Amazing Wordrobe that I call mines.</p>
    <p class="btn-lead"><a href="http://localhost:53358/Outfits" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="SecondHeader">Costomize</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis tincidunt nunc, non luctus tortor varius volutpat. Cras tincidunt enim porttitor metus sodales in fermentum eros dictum.
        </p>
        <p class="btn-lead"><a class="btn btn-default" href="http://localhost:53358/Tops">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="SecondHeader">Creative</h2>
        <p>Sed posuere risus eget magna dictum vitae fermentum lacus imperdiet. Donec et diam quis mi sagittis tempor</p>
        <p class="btn-lead"><a class="btn btn-default" href="http://localhost:53358/Bottoms">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="SecondHeader">Collaborate</h2>
        <p>Ut a quam sit amet augue gravida pulvinar. Morbi semper sagittis urna, et adipiscing nisl elementum in. Donec ultrices lacus et sapien consectetur et suscipit dolor dictum.</p>
        <p class="btn-lead"><a class="btn btn-default" href="http://localhost:53358/Shoes">Learn more &raquo;</a></p>
    </div>
</div>