body {
    background-image: url('Photos/background belt img.jpg'); height:700px; 
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-header {
    text-align: center;
}

.lead {
    text-align: center;
}

.btn-lead {
    color: mediumpurple;
    text-align: center;
}

.btn-primary {
    color: mediumpurple;
    background-color: white;
    border-color: white;
}

a {
    color: white;
}

p {
    bottom: auto;
}

.navbar-inverse {
    background-color: black;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    text-align: right;
    color: white;
}

.myPictures {
    height: 250px;
    width: 250px;
}

#Clothes {
    text-align: center;
}

.navbar-nav {
    float: right;
}

.SecondHeader {
    text-align: center;
}

.Main-Header {
    height: 300px;
}